<!-- <h1> Welcome to {{model.name}} </h1> -->
<!--in new-rental component, the current model passes into the city object-->
<!--provides new-rental component access to current city object when we say city=model-->


{{new-rental save2="save3" city=model}}
{{city-tile city=model destroyCity="destroyCity"}}

<!-- {{city-popularity city}} -->
